.home-hero{
    background-color: #FFF;
    background-image: url(../../assests/hero_bg.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #FFF;
}


@media (min-width:60rem) {
    .home-hero{
        height: 100vh;
        padding-top: 25vh;
    }
}
