header{
    position: absolute; 
    left: 0;
    right: 0;
    margin: 1em;
    z-index: 1;
}
.logo{
    /* background-image: linear-gradient(236deg, #EADEDB -7%, #000000 40%, #5d7e5d 75%); */
    color: rgb(255, 255, 255);
    border: 2px solid white;
    font-size: 2em;
    font-weight: 600;
    margin: 0px;
    padding: 0.1em 0.4em;
    border-radius: 1em;
}
@media (min-width:60rem) {
    .logo{
        font-size: 2.5em;
        padding: 0.1em 0.4em;
        border-radius: 1em;
    }
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 1em;
}
nav a{
    text-decoration: none;
    font-weight: 900;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5rem;
    color: #FFF;
}
nav a:hover,nav a:focus{
    color: #DDD;

}


@media (min-width:60rem) {
    .logo{
        float: left;
    }
    nav{
        float: right;
    }
}


.go_left{
    animation: slideContent 0.5s linear;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
}

.go_right{
    animation: slideContentRight 0.5s linear;
}

@keyframes slideContentRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
}

.go_up{
    animation: slideContentUp 0.5s linear;
}

@keyframes slideContentUp {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
}

.go_down{
    animation: slideContentUp 0.5s linear;
}

@keyframes slideContentUp {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
}

.scale_up{
    animation: slideContentScaleUp 0.5s linear;
}

@keyframes slideContentScaleUp {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
}